<mat-card class="mat-elevation-z8 m-1 p-1 mat-typography">
    <mat-card-title>
        <h2>Compose New Message</h2>
    </mat-card-title>
    <mat-card-content mat-dialog-content class="mat-elevation-z8 m-1 p-1">
        <form [formGroup]="composeMessageForm">
            <mat-form-field appearance="outline" class="p-2">
                <mat-label>To</mat-label>
                <input type="email" matInput email="true" formControlName="receiver" placeholder="Receiver" />
                <mat-hint align="end"></mat-hint>
                <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="p-2">
                <mat-label>CC</mat-label>
                <input type="email" email="true" matInput formControlName="bcc" placeholder="CC" />
                <mat-hint align="end"></mat-hint>
                <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>


            <mat-form-field appearance="outline" class="w-75 p-2">
                <mat-label>Subject</mat-label>
                <input type="text" matInput formControlName="subject" placeholder="Subject" />
                <mat-hint color="accent" align="end">Let AI help you in writing intelligent emails. Enter a subject/topic, click on ***prompt*** for AI response. Click on ***summarize*** for AI summaries.</mat-hint>
                <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>
            <mat-card-actions class="align-buttons-center">
                <button mat-raised-button color="primary" class="text-white" (click)="AIPromptRequest()"><mat-icon
                        class="material-symbols-outline">more_horiz</mat-icon> Prompt</button>

                <button mat-raised-button color="accent" class="text-white" (click)="summarizeText()"><mat-icon
                        class="material-symbols-outline">tune</mat-icon> Summarize</button>

            </mat-card-actions>

            <mat-form-field appearance="outline" class="w-75 p-2">
                <mat-label>Message</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
                    cdkAutosizeMaxRows="auto" formControlName="message" [(ngModel)]="AIPromptResponse"></textarea>
                <mat-hint align="end"></mat-hint>
                <mat-icon matPrefix class="material-symbols-outlined">info</mat-icon>
            </mat-form-field>
            <div class="spacer"></div>
            
            
            <mat-icon class="material-symbols-outlined">attachment</mat-icon>
            <input type="file" id="Attachments" (change)="onFileChange($event)" accept="*" />
        
            <div class="spacer"></div>

            <mat-card-actions class="align-buttons-center">
                <button type="submit" mat-raised-button color="primary" class="text-whiter" (click)="onSubmit()"
                    [disabled]="!composeMessageForm.valid"><mat-icon>send</mat-icon>Send</button>
                <button type="reset" mat-raised-button color="warn" class="text-whiter"
                    (click)="resetForm()"><mat-icon>cancel</mat-icon>Clear</button>

                <button mat-raised-button color="accent" class="text-whiter"  (click)="textAnalytics()">
                    <mat-icon class="material-symbols-outlined">analytics</mat-icon>
                    Analyze Email
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card *ngIf="ExpertAIResponse" class="mat-elevation-z8 m-1 p-1 mat-typography">
        <mat-card-title>
            <h2>Analytics</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="mat-elevation-z8 p-1 m-1"> {{ Text }}</mat-card-content>

        <h3>Is Sentment Positive or Negative?
            <span class="text-accent"> {{ ExpertAIResponse.sentiment.sentiment }} </span>
        </h3>
        <mat-divider></mat-divider>

        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.key_phrases">
            <h2>Key Words</h2>
            <mat-chip-listbox aria-label="Key Words" cdkdrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of ExpertAIResponse.key_phrases"
                    selected cdkDrag>{{ entry }}</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>


        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.behavioral_traits">
            <h2>Behavioral Traits</h2>
            <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.behavioral_traits" aria-label="Behavioral Traits"
                cdkdrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected
                    cdkDrag>{{
                    index }}</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>


        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.emotional_traits">
            <h2>Emotional Traits</h2>
            <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.emotional_traits" aria-label="Emotional Traits"
                cdkdrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected
                    cdkDrag>{{
                    index }}</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>

        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.hate_speech">
            <h2>Hate Speech</h2>
            <mat-chip-listbox *ngFor="let entry of HateSpeech" aria-label="Hate Speech" cdkdrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected
                    cdkdrag>{{ index }}</mat-chip-option>
                <mat-chip-option color="accent" class="text-whiter" selected cdkdrag><span class="text-black">{{
                        entry.name }}</span> {{ entry.value }} </mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>



        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.geotax">
            <h2>GeoTax</h2>
            <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.geotax" aria-label="GeoTax" cdkdrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected
                    cdkdrag>{{
                    index }}</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>


        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.iptc">
            <h2>IPTC</h2>
            <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.iptc" aria-label="IPTC" cdkDrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected
                    cdkDrag>{{
                    index }}</mat-chip-option>
            </mat-chip-listbox>

            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>

        <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.pii">
            <h2>Personal Identifiable Information (PII)</h2>
            <mat-chip-listbox *ngFor="let index of PII" aria-label="PII" cdkDrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of index.matches " selected
                    cdkDrag><span class="text-black">{{
                        entry.name }}</span> {{ entry.value }}</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>

        <mat-card-content class="mat-elevation-z4" *ngIf="ExpertAIResponse.relations">
            <div *ngFor="let entry of ExpertAIResponse.relations">
                <span class="text-black">Relation: <h5 class="text-primary">{{ entry.relation }}</h5> Related To:  -> <h5 class="text-accent">{{ entry.related_to }}</h5> By:   -> <h5 class="text-warn">{{ entry.by }}</h5></span>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>

        <mat-card-footer class="mat-elevation-z4" *ngIf="WritePrint">
            <h2>Write Print</h2>
            <mat-chip-listbox aria-label="Write Print" cdkDrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of ReadAbilityIndexes" selected
                    cdkDrag>
                    <span class="text-black">{{ entry.name }}</span> {{ entry.readabilityLevel }} {{ entry.value
                    }}</mat-chip-option>
            </mat-chip-listbox>

            <mat-card-content class="mat-elevation-z2">
                <h5>{{ StructureIndexes }}</h5>
            </mat-card-content>

            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>

        <mat-card-footer class="mat-elevation-z4" *ngIf="TemporalInformation">
            <h2>Temporal Information (PII)</h2>
            <mat-chip-listbox aria-label="Temporal Information" cdkDrag>
                <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of TemporalInformation " selected
                    cdkDrag><span class="text-black">{{
                        entry.name }}</span> {{ entry.value }}</mat-chip-option>
            </mat-chip-listbox>
            <mat-divider class="m-2"></mat-divider>
        </mat-card-footer>
    </mat-card>

    <mat-card-actions mat-dialog-actions align="end">
        <button cdkDrag mat-raised-button color="warn" class="text-white" (click)="close()"
            cdkFocusInitial><mat-icon>close</mat-icon>Close</button>
    </mat-card-actions>
</mat-card>