<mat-card *ngIf="!ExpertAIResponse" class="mat-elevation-z8 m-1 p-1 mat-typography">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    <mat-card-title><h2>Loading Message Analytics............</h2></mat-card-title>


    <mat-card-actions mat-dialog-actions align="end">
        <button cdkDrag mat-raised-button color="warn" class="text-white" (click)="close()"
            cdkFocusInitial><mat-icon>close</mat-icon>Close</button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="ExpertAIResponse"class="mat-elevation-z8 m-1 p-1 mat-typography">
    <mat-card-title><h2>Analytics</h2></mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-elevation-z8 p-1 m-1"> {{ Text }}</mat-card-content>

    <mat-card-actions class="align-buttons-center">
        <button mat-raised-button color="accent" class="text-white" (click)="summarizeText()"><mat-icon class="material-symbols-outline">tune</mat-icon> Summarize</button>
        <button mat-raised-button color="primary" class="text-white" (click) ="analyze()"><mat-icon>send</mat-icon>Analyze</button>
    </mat-card-actions>


    <mat-divider></mat-divider>

    <h3>Is Sentment Positive or Negative?
        <span class="text-accent"> {{ ExpertAIResponse.sentiment.sentiment }} </span>
    </h3>
    <mat-divider></mat-divider>

    
    <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.key_phrases">
        <h2>Key Words</h2>
        <mat-chip-listbox aria-label="Key Words" cdkdrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of ExpertAIResponse.key_phrases" selected
                cdkDrag>{{ entry }}</mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>


    <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.behavioral_traits">
        <h2>Behavioral Traits</h2>
        <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.behavioral_traits" aria-label="Behavioral Traits" cdkdrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected cdkDrag>{{
                index }}</mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>    


    <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.emotional_traits">
        <h2>Emotional Traits</h2>
        <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.emotional_traits" aria-label="Emotional Traits" cdkdrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected cdkDrag>{{
                index }}</mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>

    <mat-card-footer class="mat-elevation-z4" *ngIf="HateSpeech">
        <h2>Hate Speech</h2>
        <mat-chip-listbox *ngFor="let entry of HateSpeech" aria-label="Hate Speech" cdkdrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy"  selected cdkdrag>{{ index }}</mat-chip-option>
            <mat-chip-option color="accent" class="text-whiter" selected cdkdrag><span class="text-black">{{ entry.name }}</span>  {{ entry.value }} </mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>



    <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.geotax">
        <h2>GeoTax</h2>
        <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.geotax" aria-label="GeoTax" cdkdrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected cdkdrag>{{
                index }}</mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>    


    <mat-card-footer class="mat-elevation-z4" *ngIf="ExpertAIResponse.iptc">
        <h2>IPTC</h2>
        <mat-chip-listbox *ngFor="let entry of ExpertAIResponse.iptc" aria-label="IPTC" cdkDrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let index of entry.hierarchy" selected cdkDrag>{{
                index }}</mat-chip-option>
        </mat-chip-listbox>

        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>

    <mat-card-footer class="mat-elevation-z4" *ngIf="PII">
        <h2>Personal Identifiable Information (PII)</h2>
        <mat-chip-listbox  *ngFor="let index of PII" aria-label="PII" cdkDrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of index.matches " selected cdkDrag><span class="text-black">{{
                entry.name }}</span>    {{ entry.value }}</mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>

    <mat-card-content class="mat-elevation-z4" *ngIf="ExpertAIResponse.relations">
            <div *ngFor="let entry of ExpertAIResponse.relations">
                <span class="text-black">Relation: <h5 class="text-primary">{{ entry.relation }}</h5> Related To:  -> <h5 class="text-accent">{{ entry.related_to }}</h5> By:   -> <h5 class="text-warn">{{ entry.by }}</h5></span>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>

     <mat-card-footer class="mat-elevation-z4" *ngIf="WritePrint">
        <h2>Write Print</h2>
        <mat-chip-listbox aria-label="Write Print" cdkDrag>
            <mat-chip-option color="accent" class="text-whiter"  *ngFor="let entry of ReadAbilityIndexes" selected cdkDrag>
                <span class="text-black">{{ entry.name }}</span>  {{ entry.readabilityLevel }}  {{ entry.value }}</mat-chip-option>
        </mat-chip-listbox>

        <mat-card-content class="mat-elevation-z2">
            <h5>{{ StructureIndexes }}</h5>
            <button mat-stroked-button color="primary" (click)="summarize()">Summarize</button>
        </mat-card-content>

        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>

     <mat-card-footer class="mat-elevation-z4" *ngIf="TemporalInformation">
        <h2>Temporal Information (PII)</h2>
        <mat-chip-listbox aria-label="Temporal Information" cdkDrag>
            <mat-chip-option color="accent" class="text-whiter" *ngFor="let entry of TemporalInformation " selected cdkDrag><span class="text-black">{{
                entry.name }}</span>    {{ entry.value }}</mat-chip-option>
        </mat-chip-listbox>
        <mat-divider class="m-2"></mat-divider>
    </mat-card-footer>
    
    
        
    <mat-card-actions mat-dialog-actions align="end">
        <button cdkDrag mat-raised-button color="warn" class="text-whiter" (click)="close()"
            cdkFocusInitial><mat-icon>close</mat-icon>Close</button>
    </mat-card-actions>
</mat-card>