<mat-card>
    <mat-card *ngIf="!CalendarEvents">
        <mat-progress-bar coor="accent" mode="indeterminate"></mat-progress-bar>
        <mat-card-title>
            <h2>Loading Calendar Events............</h2>
        </mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-content class="mat-elevation-z6">
            <mat-form-field appearance="outline" class="p-1">
                <mat-label>Filter</mat-label>
                <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Type  To Filter" #input>
            </mat-form-field>
            <mat-table matSort matSortActive="date" matSortDisableClear matSortDirection="desc" cdkDropList
                cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" class="mat-elevation-z8" cdkDrag
                [dataSource]="CalendarEvents" *ngIf="CalendarEvents">

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        {{ element.title }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="when">
                    <mat-header-cell *matHeaderCellDef>Date </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        From: {{ element.when.start_time | date:"MMM dd, yyyy 'at' hh:mm a" }} To: {{ element.when.end_time | date:"MMM dd, yyyy 'at' hh:mm a" }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="participants">
                    <mat-header-cell *matHeaderCellDef>Participants</mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        <p *ngFor="let entry of element.participants">{{ entry.email }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                    <mat-cell *matCellDef="let element ">
                        {{ element.location }}
                    </mat-cell>
                </ng-container>



                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="text-primary">
                        <!-- <button mat-raised-button class="text-whiter" color="primary"
                            (click)="openMessage(element.body)">
                            <mat-icon class="material-symbols-outline">open_with</mat-icon>
                            Open
                        </button>
                        <button mat-raised-button class="text-whiter" color="accent"
                            (click)="openMessageReply(element.from, element.body )">
                            <mat-icon class="material-symbols-outline">reply</mat-icon>
                            Reply
                        </button>
                        <button mat-raised-button class="text-whiter" color="primary"
                            (click)="openMessageAnalytics(element.body)">
                            <mat-icon class="material-symbols-outline">analytics</mat-icon>
                            Analytics
                        </button> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
                <mat-row (click)="clickedRows.add(row)" [class.table-row-clicked]="clickedRows.has(row)"
                    *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

            </mat-table>
        </mat-card-content>

        <mat-card-actions class="mat-elevation-z4">
            <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="pageLength" [pageSize]="pageSize"
                showFirstLastButtons aria-label="Select Products"></mat-paginator>
        </mat-card-actions>

    </mat-card>


    <mat-card-actions mat-dialog-actions align="end">
        <button cdkDrag mat-raised-button color="warn" class="text-white" (click)="close()"
            cdkFocusInitial><mat-icon>close</mat-icon>Close</button>
    </mat-card-actions>    
</mat-card>

