<section>
  <mat-toolbar class="mat-elevation-z8 bg-whiter m-1">
    <button mat-raised-button color="primary" class="text-whiter" (click)="openComposeMessage()"><mat-icon class="material-symbols-outlined">mail</mat-icon>Compose Email</button>
    <button mat-raised-button color="accent" class="text-whiter" (click)="openCalendar()"><mat-icon class="material-symbols-outlined">calendar</mat-icon>Calendar</button>

  </mat-toolbar>

  <mat-card>
    <mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-label>Filter</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Type  To Filter" #input>
      </mat-form-field>
    </mat-card-subtitle>
    <mat-card-content *ngIf="Messages">
      <mat-progress-bar color="warn" mode="indeterminate" *ngIf="Media"></mat-progress-bar>
      <button mat-button color="warn" *ngIf="MediaURL">
        <audio [src]="MediaURL" controls loop="true">
          <a [href]="MediaURL"><mat-icon class="material-symbols-outlined">download</mat-icon></a>
        </audio>
      </button>
   
      <mat-table
        matSort
        matSortActive="date"
        matSortDisableClear 
        matSortDirection="desc"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        class="mat-elevation-z8"
        cdkDrag
        [dataSource]="Messages"
        *ngIf="Messages">

        <ng-container matColumnDef="from">
          <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
          <mat-cell *matCellDef="let element ">
            <button mat-stroked-button color="accent" *ngIf="element.unread === 'True'">UnRead</button>
            <button mat-stroked-button color="primary"  *ngIf="element.unread === 'False'">Read</button>
            <span *ngFor="let elem of element.from">
              <a href="mailto:{{ elem.email }}"><button mat-button color="accent">{{ elem.name | uppercase }}</button></a>
            </span> 
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subject">
          <mat-header-cell *matHeaderCellDef>Subject </mat-header-cell>
          <mat-cell class="{{ element.unread }}" *matCellDef="let element"> 
            {{ element.subject }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-primary">
            <button mat-icon-button [matMenuTriggerFor]="menu" color="accent" class="bg-whiter" >
              <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
            </button>
            <mat-divider></mat-divider>
          
          
            <mat-menu #menu="matMenu" xposition="before" class="bg-whiter mat-elevation-z6">
              <button mat-menu-item  color="primary" (click)="openMessage(element.body)">
                <mat-icon class="material-symbols-outline">open_with</mat-icon>
                Open
              </button>
              <mat-divider></mat-divider>
          
          
              <button mat-menu-item  color="accent"
                (click)="openMessageReply(element.from, element.body )">
                <mat-icon class="material-symbols-outline">reply</mat-icon>
                Reply
              </button>
              <mat-divider></mat-divider>
          
          
              <button mat-menu-item color="primary" (click)="openMessageAnalytics(element.body)">
                <mat-icon class="material-symbols-outline">analytics</mat-icon>
                Analytics
              </button>
              <mat-divider></mat-divider>

              <button mat-menu-item color="primary" (click)="markAsRead(element.id)">
                <mat-icon class="material-symbols-outline">mark_as_read</mat-icon>
                Mark As Read
              </button>
              <mat-divider></mat-divider>

              <button mat-menu-item color="primary" (click)="markAsUnRead(element.id)">
                <mat-icon class="material-symbols-outline">mark_as_unread</mat-icon>
                Mark As UnRead
              </button>
              <mat-divider></mat-divider>

              <button mat-menu-item color="accent" (click)="starMessage(element.id)">
                <mat-icon class="material-symbols-outline">star</mat-icon>
                Star Message
              </button>
              <mat-divider></mat-divider>

              <button mat-menu-item color="accent" (click)="unStarMessage(element.id)">
                <mat-icon class="material-symbols-outline">star_half</mat-icon>
                UnStar Message
              </button>
              <mat-divider></mat-divider>
          
              <button mat-menu-item color="warn" (click)="playAISummaryMessage(element.body)">
                <mat-icon class="material-symbols-outline">play_circle</mat-icon>
                Play AI Summarized Message
              </button>
              <mat-divider></mat-divider>
          
            </mat-menu>         
          
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
        <mat-row (click)="clickedRows.add(row)" [class.table-row-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

      </mat-table>
    </mat-card-content>

    <mat-card-actions class="mat-elevation-z4">
      <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="pageLength" [pageSize]="pageSize"
        showFirstLastButtons aria-label="Select Products"></mat-paginator>
    </mat-card-actions>

  </mat-card>





  <mat-card *ngIf="!Messages">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    <mat-card-title><h2>Loading Messages............</h2></mat-card-title>
  </mat-card>
</section>
