<section>

  <mat-card>
    <mat-card-content>
      <mat-table
        matSort
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        class="mat-elevation-z8"
        cdkDrag
        [dataSource]="Contacts"
        *ngIf="Contacts">

        <ng-container matColumnDef="given_name">
          <mat-header-cell *matHeaderCellDef>Given Name </mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-warn"> {{ element.given_name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname">
          <mat-header-cell *matHeaderCellDef>Surname</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.surname }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element" class="text-primary">
            {{ element.id }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
        <mat-row (click)="clickedRows.add(row)" [class.table-row-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

      </mat-table>
    </mat-card-content>

    <mat-card-footer>
      <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="pageLength" [pageSize]="pageSize"
        showFirstLastButtons aria-label="Select Products"></mat-paginator>
    </mat-card-footer>

  </mat-card>





  <mat-card *ngIf="!Contacts">
    <mat-card-title>
      <h2>You Have No Contacts.</h2>
    </mat-card-title>
  </mat-card>
</section>
