<section>
  <mat-card>
    <mat-card-title>
      <h3>
        <a routerLink="/auth/signup">&nbsp; &nbsp;No Account Yet?</a>
        <a routerLink="/auth/signin">&nbsp; &nbsp;Login To Continue</a>
      </h3>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>Email </mat-label>
          <mat-hint align="end"></mat-hint>
          <input type="email" matInput email="true" formControlName="email" placeholder="Email Address">
          <mat-icon matPrefix class="material-symbols-outlined">mail_outline</mat-icon>
        </mat-form-field>
        <div class="spacer"></div>
    
        <mat-card-actions class="align-buttons-center">
          <button type="reset" mat-raised-button color="warn" class="text-white" (click)="resetForm()">
            <mat-icon class="material-symbols-outlined">cancel</mat-icon>
            Clear
          </button>
    
          <button type="submit" mat-raised-button [disabled]="!resetPasswordForm.valid" color="accent" class="text-white">
            <mat-icon class="material-symbols-outlined">edit_circle</mat-icon>
            Reset Password
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>



